openai
langchain
python-dotenv
requests
metapub
chainlit
pandas
pinecone-client
lark
pybiopax
biopython
xmltodict
beautifulsoup4
requests
sentence-transformers
streamlit
faiss-cpu
chromadb
nltk
rouge
bert_score